{
  "type": "mysql",
  "host": "host",
  "port": 3306,
  "username": "your-mysql-username",
  "password": "your-mysql-password",
  "database": "your-mysql-dbname",
  "entities": [
    "dist/**/*.entity{.ts,.js}"
  ],
  "migrations": [
    "dist/migrations/*{.ts,.js}"
  ],
  "migrationsTableName": "migrations_typeorm",
  "synchronize": false
}